[id="LIVE.STYLESHEETS"] {
  outline: 0; border: 0; margin: 0; padding: 0; overflow: hidden;
  position: fixed; z-index: 10000; top: auto; right: 0; bottom: 0; left: 0;
  height: 250px; width: 100%; display: none;
}

[data-ls-na], [data-ls-na]:before, [data-ls-na]:after,
[data-ls-na] *, [data-ls-na] :before, [data-ls-na] :after {
  -webkit-transition: none !important; -webkit-animation: none !important;
  transition: none !important; animation: none !important;
}